<article class="{{ first ?= 'md:col-span-2' }}">
    <a href="{{ url }}" class="flex flex-col h-full overflow-hidden transition ease-out bg-white shadow-lg rounded-xl hover:-translate-y-1 hover:shadow-xl">
        <img src="{{ image }}" alt="{{ image:alt }}" class="object-cover w-full h-72 bg-hot-pink">
        <div class="flex flex-col justify-between flex-1 gap-4 p-6 md:gap-5 md:p-8">
            <h2 class="font-sans text-xl font-semibold md:text-2xl">Blog Post Title</h2>
            <p class="font-sans text-xs">{{ date format="j. F Y" }}</p>
        </div>
    </a>
</article>
