<section>
    <div class="flex flex-col items-center max-w-4xl gap-6 px-6 mx-auto text-center md:gap-10 md:px-16">
        <h1 class="text-6xl leading-none uppercase font-display md:text-8xl">Blog</h1>
        <p class="font-sans text-xl leading-8 md:text-2xl md:leading-10">Hier schreibe ich über alles, was mich beschäftigt — von Donuts bis zu grossen Gedanken über das Leben.</p>
    </div>
</section>

<section>
    
    <div class="grid grid-cols-1 gap-8 px-6 mx-auto md:px-16 max-w-8xl md:grid-cols-2 xl:grid-cols-3">
        {{ collection:posts sort="date:desc" }}
        {{ }}
            <article{{ if first }} class="md:col-span-2"{{ /if }}>
                {{ partial:partials/card }}
            </article>
        {{ /collection:posts }}
    </div>
</section>
