{{ partial:header }}

<main class="grid gap-16 py-10 md:gap-20 md:py-20 lg:gap-24">
    <section>
        <div class="flex flex-col items-center max-w-4xl gap-6 px-6 mx-auto text-center md:gap-10 md:px-16">
            {{ if get:tag }}
                {{ taxonomy:tags }}{{ if slug == {get:tag} }}<h1 class="text-6xl leading-none tracking-tight font-bold font-display md:text-8xl">{{ title }}</h1>{{ /if }}{{ /taxonomy:tags }}
                <a href="/tags" class="font-sans text-xs hover:underline">← All tags</a>
            {{ else }}
                <h1 class="text-6xl leading-none tracking-tight font-bold font-display md:text-8xl">Tags</h1>
            {{ /if }}
        </div>
    </section>

    {{ if get:tag }}
    <section>
        <div class="grid grid-cols-1 gap-8 px-6 mx-auto md:px-16 max-w-8xl md:grid-cols-2 xl:grid-cols-3">
            {{ collection:posts :taxonomy:tags="get:tag" sort="date:desc" }}
            <article>
                {{ partial:card }}
            </article>
            {{ /collection:posts }}
        </div>
    </section>
    {{ else }}
    <section>
        <div class="flex flex-wrap justify-center gap-3 px-6 mx-auto max-w-4xl md:px-16">
            {{ taxonomy:tags }}
            <a href="/tags?tag={{ slug }}" class="font-sans text-sm px-4 py-2 rounded-full border border-orange-100/30 hover:border-orange-100/60 transition ease-out">{{ title }}</a>
            {{ /taxonomy:tags }}
        </div>
    </section>
    {{ /if }}
</main>

{{ partial:footer }}
