<a href="{{ url }}" class="flex flex-col h-full overflow-hidden transition ease-out bg-white shadow-lg rounded-xl hover:-translate-y-1 hover:shadow-xl">
    {{ hero_image }}<img src="{{ url }}" alt="{{ alt }}" class="object-cover w-full h-72 bg-hot-pink">{{ /hero_image }}
    <div class="flex flex-col justify-between flex-1 gap-4 p-6 md:gap-5 md:p-8">
        <h2 class="font-sans text-xl font-semibold md:text-2xl">{{ title }}</h2>
        <p class="font-sans text-xs">{{ last_modified format="j. F Y" }}</p>
    </div>
</a>
