{{ partial:components/hero
    title="Blog"
    description="This is description of the type of content you would expect to read here on this blog."
}}

<section>
    <div class="grid grid-cols-1 gap-8 px-6 mx-auto md:px-16 max-w-8xl md:grid-cols-2 xl:grid-cols-3">
        {{ partial:components/card
            image="/assets/octopus.jpg"
            title="There's something secret and dangerous lurking in your pocket"
            date="15. April 2025"
            url="#"
            class="md:col-span-2"
        }}

        {{ partial:components/card
            image="/assets/donut.jpg"
            title="Everything is better when donuts are involved"
            date="15. April 2025"
            url="#"
        }}

        {{ partial:components/card
            image="/assets/pizza-wifi.jpg"
            title="Would you rather give up pizza or wifi?"
            date="15. April 2025"
            url="#"
        }}

        {{ partial:components/card
            image="/assets/blinking-carot.gif"
            title="Beginnings are the best & the worst"
            date="15. April 2025"
            url="#"
        }}

        {{ partial:components/card
            image="/assets/idea.jpg"
            title="I had a really good idea but got sidetracked and forgot it."
            date="15. April 2025"
            url="#"
        }}
    </div>
</section>
