@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

@theme {
    --color-black: #12151E;
    --color-linen: #FFFBF6;
    --color-baby-blue: #DDEEFF;
    --color-hot-pink: #FD2D78;
    --font-display: Londrina Solid, sans-serif;
    --font-sans: Poppins, sans-serif;
    --container-8xl: 88rem;
}
